<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>

        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./app/Http/Controllers</directory>
            <directory suffix=".php">./app/Models</directory>
             <exclude>
            <directory suffix=".php">.app/Http/Middleware</directory>
                 <file>./app/Http/Controllers/AuthController.php</file>
                 <file>./app/Http/Controllers/TrackController.php</file>
                 <file>./app/Http/Controllers/PaymentController.php</file>
                 <directory suffix=".php">./app/Http/Controllers/Auth</directory>

             </exclude>
        </whitelist>

    </filter>

    <logging>
        <log type="coverage-clover" target="./build/logs/clover.xml"/>
    </logging>

    <php>
        <server name="APP_ENV" value="testing"/>
        <env name="DB_CONNECTION" value="sqlite_testing" />

        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="MAIL_DRIVER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
    </php>
</phpunit>
